
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OSF</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap2.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/navbar.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/semantic.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">

  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/semantic.js"></script>
  <script src="{{ STATIC_URL }}js/basic.js"></script>
  <script src="{{ STATIC_URL }}js/code.js"></script>
</head>
<body>
{%include "./include/topbar.html" %}
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="ui vertical menu">
				  <a class="item" href="/followings" >
				    关注
				  </a>
				  <a class="active teal item" href="/followers">
				    粉丝
				  </a>
				</div>
			
			</div>
			<div class="span8">
				<div class="ui header">
					我的粉丝
				</div>
				<div class="ui divider">
				</div>

				<div class="ui cards">
                    {% for follower in followers %}
			            <div class="ui card" style="width:33%">
			              <div class="ui small centered circular  image">
			                <a href="/user/{{follower.id }}"><img src="{{ follower.get_profile.get_mugshot_url }}"></a>
			              </div>
			              <div class="content">
			                <a class="header centered" href="/user/{{follower.id}}">
			                	{{follower.username }}
			                </a>
			              </div>
			            </div> 
					
					
				{% endfor %}
				
				
				</div>
				<!-- end cards -->

			</div>
		</div>
	
	</div>
</body>
</html>