<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OSF</title>
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap2.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/navbar.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/semantic.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">

  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.infinitescroll.js"></script>
  <script src="{{ STATIC_URL }}js/semantic.js"></script>
  <script src="{{ STATIC_URL }}js/basic.js"></script>
  <script src="{{ STATIC_URL }}js/code.js"></script>
  <script src="{{ STATIC_URL }}js/like.js"></script>
  <script src="{{ STATIC_URL }}js/spost.js"></script>
</head>
<body>
{% include "./include/topbar.html" %}
  <div class="container">
    <div class="row">  
          <div class="span8">  
	          	<div class="header_box">
	          		<div class="ui avatar image">
	                	<img src="{{request.user.get_profile.get_mugshot_url}}">
	                </div>
					<div id="action_bar">
						<div class="ui labeled icon menu actions" >
						  <a class="item sport_link" href="#">
						    <i class="blue big font icon"></i>
						    发状态
						  </a>
						  <a class="item album_link" href="/album/upload/">
						    <i class="pink big photo icon"></i>
						    传图片
						  </a>
						  <a class="item post_link" href="/post/create">
						    <i class="big write icon"></i>
						    写日志
						  </a>
						  <a class="item link">
						    <i class="green big linkify icon"></i>
						    链接
						  </a>
						</div>

					  <div class="short_post">
					  	<textarea placeholder="说点什么..." id="spost_content"></textarea>
					  	<div class="bar">
					  		<div class="ui tiny blue button" id="spost_send">
					  			发表
					  		</div>
					  		<div class="ui tiny basic button" id="sport_cancel">
					  			取消
					  		</div>
					  	</div>
					  </div>
					</div>
	               </div>
	               <!-- end header_box -->
                  <div class="ui feed" id="feeds">
                   <div class="event empty row">
                      <div class="label span2">
                        <img src="">
                      </div>
                      <div class="content span6">
                        <div class="summary">
                          <a href=""></a> 说
                          <div class="date">
                            刚刚
                          </div>
                        </div>
                        <div class="extra">
                        </div>
                        <div class="meta">
                          <div class="actions">
							  <a class="comment">
	                            <i class="comment outline icon"></i><span>0</span>
	                          </a>
	                          <a class="like">
	                          	<i class="heart icon" object_type="4" object_id=""></i><span>0</span>
	                          </a>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!-- empty event , wait for full and show -->

                      {% include "nextpage.html" %}
                  </div>  <!--end feed -->
                  <a id="next" href="/page/2"></a>
            </div>
          <div class="span4">
          	<div id="rightside">
                {% if request.user.is_authenticated %}

	            <div class="ui card">
	              <div class="ui small centered circular  image">
	                <a href="/user/{{request.user.id}}/"><img src="{{request.user.get_profile.get_mugshot_url}}"></a>
	              </div>
	              <div class="content">
	                <a class="header centered" href="/user/{{request.user.id}}">
	                	{{request.user.username}}
	                </a>
	                <div class="meta centered">
	                  <span class="date">不想成为画家的黑客不是好摄影师</span>
	                </div>	                
					<div class="ui mini statistics">
					  <div class="statistic">
					    <div class="value">
					      <a href="/followers">{{ counter.follower }}</a>
					    </div>
					    <div class="label">粉丝
					    </div>
					  </div>
					  <div class="statistic">
					    <div class="value">
					      <a href="/followings">{{  counter.following }}</a>
					    </div>
					    <div class="label">关注
					    </div>
					  </div>
					  <div class="statistic">
					    <div class="value">
					      <a href="#">{{ counter.spost }}</a>
					    </div>
					    <div class="label">状态
					    </div>
					  </div>
					</div>	<!-- end statistics --> 
					
					               
	              </div>
	            </div> 
	            {% endif %}
				{% include "./include/sidebar.html" %}
										
            </div>           
          </div>
        </div>
      </div>


    </div>

  </div>
  <script src="{{ STATIC_URL }}js/feed.js"></script>
</body>
</html>