
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap2.css">	
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/navbar.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/semantic.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
</head>
<body>
{% include "./include/topbar.html" %}
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="ui vertical menu">
				  <a class="teal item">
				    个人信息
				  </a>
				  <a class="item">
				    头像
				  </a>
				  <a class="item">
				    账户安全
				  </a>
				</div>
			
			</div>
			<div class="span8"></div>
		</div>
	
	</div>
</body>
</html>